ul {
  width: 100%;
  margin: 5px 0;
}

.allday-container {
  width: 100%;
  margin-bottom: 0;
}

.allday {
  display: flex;
  flex-direction: row;
  height: 2.7rem;

  li {
    display: flex;
    justify-content: space-between;
    width: 100%;

    border: 2px solid var(--color-yellow);
    border-radius: 5px;
    margin: 3px;

    .allday-name {
      display: flex;
      align-items: center;
      width: 70%;
      background-color: var(--color-yellow);
      color: var(--color-white);
      font-weight: 700;
      font-size: 0.9rem;
      padding: 0.12rem;

      &:hover {
        color: black;
      }
    }

    .allday-price {
      display: flex;
      width: 30%;
      justify-content: right;
      align-items: center;
      background-color: var(--color-white);
      color: var(--color-black);
      font-weight: 700;
      font-size: 0.9rem;
    }
  }
}

.inputs-tipo {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  .meat-type {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0.2rem 0.7rem;

    background-color: var(--color-yellow);
    color: var(--color-white);
    font-weight: 700;
    font-size: 0.9rem;

    &:hover {
      background-color: var(--color-yellow-hover);
      color: var(--color-black);
    }
  }

  input {
    all: unset;
  }
}

.inputs-adicional {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px 0 10px 0;

  .extras {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0.2rem 1rem;

    background-color: var(--color-yellow);
    color: var(--color-white);
    font-weight: 700;
    font-size: 0.9rem;

    &:hover {
      background-color: var(--color-yellow-hover);
      color: var(--color-black);
    }
  }

  input {
    all: unset;
  }
}

.hamburger-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.complements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 113px;

  label {
    width: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  input {
    height: 25px;
  }

  button {
    height: 30px;
    width: 90px;
    margin-top: 0;
  }

  svg {
    margin-right: 5px;
  }
}

.meat-type.active,
.extras.active {
  background-color: var(--color-yellow-hover);
  color: var(--color-black);
}
