.product {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    border: 0.2rem solid var(--color-yellow);
    border-radius: 10px;
    width: 80px;
    height: 80px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
  }

  button {
    border-radius: 0 0 0.3rem 0.3rem;
    background-color: var(--color-yellow);
    color: var(--color-white);
    // padding: 0.25rem 0.6rem;
    max-width: 80px;
    position: relative;
    margin-top: -0.5rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);

    &:hover {
      color: black;
    }
  }
}
