.sideMenu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background-hover);
  width: 100px;
  height: 100%;
  position: fixed;
  left:0;
  top:0;
  bottom: 0;
  flex-flow: column wrap;
}

.signout-btnContainer {
  transform: rotate(180deg);
  margin-bottom: 20px;
}

.menuButtons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  :first-child{
    margin-top: 0;
  }
}

.notificacao-position {
  border-radius: 0.2rem;
  padding: 0 0.5rem;
  cursor: pointer;
  text-align: center;
  width: 100px;
  align-self: center;
  position: relative;
}

.notificacao-pedidos-prontos {
  background-color: var(--color-yellow);
  color: var(--color-white);
  font-weight: 900;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  vertical-align: middle;
  line-height: 2rem;
  position: absolute;
  top: -3.2rem;
  right: -0.5rem;

  &:hover {
    background-color: var(--color-yellow-hover);
    color: var(--color-white);
  }
}