.sideMenu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background-hover);
  width: 11%;
  min-width: 100px;
  height: 100%;
  position: absolute;
  left:0;
  top:0;
  bottom: 0;
  flex-flow: column wrap;
}

.signout-btnContainer {
  transform: rotate(180deg);
  margin-bottom: 20px;
}

.menuButtons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  :first-child{
    margin-top: 0;
  }
}

.notificacao-pedidos-prontos {
  background-color: var(--color-yellow);
  color: var(--color-white);
  font-weight: 900;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  vertical-align: middle;
  line-height: 2rem;
  position: absolute;
  top: 260px;
  right: 0.3rem;

  &:hover {
    background-color: var(--color-yellow-hover);
    color: var(--color-white);
  }
}