@media screen and (min-width: 768px) {
  .big-container {
    margin: 20px 0 0 130px;
  }
}


@media screen and (min-width: 1024px) {
  .big-container {
    margin: 20px 0 0 200px;
  }

  .menu-list {
    width: 400px;
  }

  .cart-area {
    width: 400px;
  }
}