.Signup_radio-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 230px;
  margin-top: 5px;
  color: var(--color-white);

  label {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
  }

  input {
    margin-right: 5px;
  }

}

p {
  color: var(--color-white);
  margin-top: 10px;
}

.do-login {
  margin-top: 5px;
  color: var(--color-yellow);
  font-weight: 900;
  font-size: 0.8rem;
  text-decoration: none;

  justify-content: center;
  align-items: center;
}