@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --color-background: #1D1D2C;
  --color-background-hover: #3E4057;
  --color-yellow: #EBA902;
  --color-yellow-hover: #FFC83E;
  --color-green: #00AA54;
  --color-green-hover: #276A2E;
  --color-red: #FD1452;
  --color-red-hover: #B00130;
  --color-brown: #935C4B;
  --color-brown-hover: #654034;
  --color-white: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  background: var(--color-background);

  font-family: 'Lato', sans-serif;
}

.paragraph-error {
  color: var(--color-red);
  margin: 15px auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

fieldset {
  border: none;
  text-align: center;
}