@import "../../../../global.scss";

.menu-buttons {
  // margin-top: 40px;
  // margin-left: auto;
  width: 50%;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
    // top: 50%;
    left: 50%;
}

.menu-buttons-category {
  display: flex;
  width: 150px;
  height: 35px;
  border-radius: 10px;

  background-color: var(--color-background-hover);
  color: var(--color-yellow);
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);

  text-transform: uppercase; 

  &:hover {
    background-color: var(--color-yellow);
    color: var(--color-white);
  }
}